@page
@model ItemsAndOrdersManagementSystem.Pages.Items.IndexModel

@{
    ViewData["Title"] = "Items";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form method="get">
    <div class="form-group">
        <label for="itemName">Filter by Name:</label>
        <input type="text" class="form-control" id="itemName" name="itemName" value="@Model.FilterItemName" />
    </div>
    <button type="submit" class="btn btn-primary">Apply Filter</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemList[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemList[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemList[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ItemList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="row">
    <div class="col-sm-12">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @for (var i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                        <a class="page-link" asp-page="./Index" asp-route-itemName="@Model.FilterItemName" asp-route-pageIndex="@i">@i</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>
